html { width: 100%; height: 100% }

/* Home page */
body.home { margin: 0; padding: 0 10px; overflow: auto; align-items: center; text-align: center; justify-content: center; font-family: sans-serif; font-size: 9pt; }
body.home v-home { display: block; }
body.home v-play-list, body.home v-play-normal { display: none; }
v-home div { display: flex; flex-direction: column; text-align: center; min-height: 300px; justify-content: center; }
v-home button.play { cursor: pointer; display: block; border: 6px solid; border-color: #0c0 #040 #040 #0c0; padding: 4px 16px; text-decoration: none; font-family: monospace; text-transform: uppercase; font-weight: bold; font-size: 64px; background-color: #080; color: #ff0; margin: 20px auto; }
v-home p { max-width: 90%; color: #444; margin: 10px auto; }

/* Play mode model list */
body.play-list { font-family: sans-serif; }
body.play-list v-play-list { display: block; }
body.play-list v-home, body.play-list v-play-normal { display: none; }
v-play-list .list {text-align: center;background-color: #fcfcfc;padding-top: 60px;}
v-play-list .list div {cursor: pointer;display: inline-block;margin: 8px;padding: 0 0 4px 0;border-radius: 8px;box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.8);background-color: #eee;position: relative;}
v-play-list .list div img {border-radius: 8px;}
v-play-list .list div span.new {display: none;position: absolute;top: 0;right: 0;color: #fff;background-color: #0be;padding: 4px;border-radius: 0 8px;text-transform: uppercase;font-weight: bold;font-size: 18px;}
v-play-list .list div span.complete {display: none;position: absolute;top: 0;left: 0;color: #fff;background-color: #0c0;padding: 4px 12px;border-radius: 8px 0;text-transform: uppercase;font-weight: bold;font-size: 18px;}
v-play-list .list div img.complete~span.complete {display: block; }
v-play-list .list div img.new { filter:grayscale(100%); }
v-play-list .list div img.new~span.new {display: block; }

/* Model play screen for desktop and mobiles */
body.play-normal { width: 100%; height: 100%; margin: 0; padding: 0; display: flex; flex-direction: column; font-family: sans-serif; overflow: hidden; }
body.play-normal v-play-normal { display: flex;flex: 1;flex-direction: column; }
body.play-normal v-home, body.play-normal v-play-list { display: none; }
v-play-normal v-rendering {flex: 1;display: flex;position: relative;}
v-play-normal v-rendering .colorcounter {display: flex;position: absolute;left: 10px;bottom: 10px;background-color: rgba(0,0,0,.5);color: #fff;padding: 5px 7px;line-height: 20px;border-radius: 14px;}
v-play-normal v-rendering canvas {flex: 1;}
v-play-normal v-colorcounterblock {display: block;width: 16px;height: 16px;border-radius: 8px;margin: 2px 4px 0px 0px;}
v-play-normal .completion {position: absolute;top: 10px;right: 10px;display: none;}
v-play-normal .completion.complete { display: block; }
v-play-normal v-toolbar {display: flex;flex-direction: row;}
v-play-normal v-toolbar img {cursor: pointer;margin: 3px;}
v-play-normal v-toolbar .spacer {flex: 1;}
v-play-normal input[type=radio] {display: none;}
v-play-normal v-toolbar input[type=radio]:checked + img {outline: 3px solid #66f;background-color: #ccf;}
v-play-normal v-toptoolbar {position: fixed;z-index: 1000;left: 10px;top: 10px;display: flex;flex-direction: row;}
v-play-normal v-toptoolbar img {cursor: pointer;}
v-play-normal v-colorbar {flex-direction: row;display: flex;overflow: auto;}
v-play-normal v-colorbar div {cursor: pointer;display: flex;width: 38px;height: 38px;margin: 2px;border: 4px solid rgba(0,0,0,0.04);border-radius: 24px;text-align: center;flex-direction: column;line-height: 38px;color: #fcfcfc;text-shadow: -1px 0 #888, 0 1px 0px #888, 1px 0 #888, 0 -1px #888;font-size: 24px;position: relative;}
v-play-normal v-colorbar input[type=radio]:checked + div::after {content: '';border: 2px solid #fff;position: absolute;top: 0px;left: 0px;width: 34px;height: 34px;border-radius: 20px;box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);}
v-play-normal v-colorbar input[type=radio].complete + div .checked {display: initial;}
v-play-normal v-colorbar input[type=radio].complete + div .unchecked {display: none;}
v-play-normal v-colorbar label.invisible {display: none;}
v-play-normal v-colorbar .checked {display: none;}
v-play-normal v-colorpalette {flex-direction: row;display: none;overflow: auto;background-color:#fafafa;}
v-play-normal v-colorpalette label {display: flex;align-items: center;}
v-play-normal v-colorpalette label span {padding-right: 10px;}
v-play-normal v-colorpalette input[type=checkbox] {width: 32px;height: 32px;}
v-play-normal v-colorpalette.visible {display: flex;}
v-play-normal v-colorpalette div {cursor: pointer;display: flex;width: 36px;height: 42px;}