.page > .header, .fab {
    background-color: #a37f81;
}

.progressbar {
    background-color: #a37f8199;
}

.content {
    background-color: #d5aeb0;
}

.progressbar::after {
    background-color: #a37f81ff;
}

.progressspinner::after {
    border-color: #a37f81 transparent;
}

.grid > li, #playpage .content {
    background-color: white;
}

h2, p {
    color: #00000099;
}

h3, .footer > .info {
    color: #0000008A;
}

.page > .header > .title {
    color: black;
}

.page > .header > .back {
    background-image: url(../icons/black/back.png);
}
