* { margin:0; padding: 0; font-family: Roboto, Helvetica, Arial, sans-serif; box-sizing: border-box; }
html, body { width: 100%; height: 100%; overflow: hidden; }
button, .grid > li { cursor: pointer; }
button:focus { outline: 0; }

body { position: relative; }

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    transition: left .2s;
}

.page.invisible {
    left: 100%;
}

/* https://www.material.io/components/app-bars-top/#specs */
.page > .header {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    background-color: #a37f81;
}

.page > .header > button {
    width: 48px;
    height: 48px;
    background: transparent center no-repeat;
    border: none;
}

.page > .header > .back {
    margin-right: 32px;
    background-image: url(../icons/back.png);
}

.page > .header > .title {
    flex: 1;
    font-size: 20px;
    color: black;
}

.page > .content {
    flex: 1;
    overflow: auto;
    background-color: #d5aeb0;
}

.progressbar {
    height: 4px;
    position: relative;
    background-color: #a37f8199;
}

.progressbar.invisible {
    display: none;
}

.progressbar::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 4px;
    left: 0;
    top: 0;
    animation: progressbar 2s linear infinite;
    background-color: #a37f81ff;
}

.progressspinner {
    position: relative;
}

.progressspinner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 999px #FFFFFFEE;
    z-index: 1;
}

.progressspinner::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    border: 4px solid;
    border-radius: 30px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: progressspinner 1.2s linear infinite;
    z-index: 2;
    border-color: #a37f81 transparent;
}

.grid {
    padding: 8px;
    text-align: center;
}

.grid > li {
    margin: 8px;
    display: inline-block;
    list-style-type: none;
    border-radius: 4px;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: white;
    padding: 3px;
}

@keyframes progressbar {
    0% { left: -112px; width: 112px; }
    50% { width: 224px; }
    100% { left: 100%; width: 112px; }
}

@keyframes progressspinner {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/***** Floating Action Buttons *****/
.fab {
    border: none;
    border-radius: 28px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    bottom: 16px;
    right: 16px;
    min-width: 56px;
    height: 56px;
    background: transparent center no-repeat;
    background-color: #a37f81;
}

.fab.add {
    background-image: url(../icons/black/add.png);
}

/**** Dialog allgemein *****/

.dialog {
    width: 280px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12),
    0px 0px 0px 999px #232F3457;
    background-color: white;
    z-index: 100;
}

.dialog::before {
    content: "";
    position: fixed;
    top: -5000px;
    left: -5000px;
    width: 9999px;
    height: 9999px;
    z-index: -1;
}

.dialog.invisible {
    display: none;
}

.dialog > h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 24px 0 24px;
    color: #000000DE;
}

.dialog > p {
    font-size: 16px;
    padding: 20px 24px 0 24px;
    color: #00000099;
}

.dialog > p > input {
    font-size: 16px;
    padding: 16px 12px;
    width: 100%;
    border: 2px solid;
    border-radius: 4px;
    outline: none;
    border-color:  #0000001E;
}

.dialog > p > input:focus {
    border-color:  #a37f81;
}

.dialog > .buttonbar {
    margin-top:28px;
    padding: 8px;
    display: flex;
    flex-direction: row-reverse;
}

.dialog > .buttonbar > button {
    min-width: 64px;
    text-align: center;
    height: 36px;
    background: none;
    padding: 0 8px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #a37f81;
}

.dialog > .buttonbar > button:hover {
    background-color:  #a37f8144;
}


/***** Listenseite *****/

#listpage .grid > li { position: relative; }
#listpage .grid > li > span.new {display: none;position: absolute;top: 0;right: 0;color: #fff;background-color: #0be;padding: 4px;border-radius: 0 4px;text-transform: uppercase;font-weight: bold;font-size: 18px;}
#listpage .grid > li > span.complete {display: none;position: absolute;top: 0;left: 0;color: #fff;background-color: #0c0;padding: 4px 12px;border-radius: 4px 0;text-transform: uppercase;font-weight: bold;font-size: 18px;}
#listpage .grid > li > img { width: 130px; }
#listpage .grid > li > img.complete~span.complete {display: block; }
#listpage .grid > li > img.new { filter:grayscale(100%); }
#listpage .grid > li > img.new~span.new {display: block; }

/***** Spieleseite *****/

#playpage .content { display: flex; position: relative; flex-direction: column; background-color: white; }
#playpage .canvas { flex: 1; }

#playpage .toolbar { display: flex; height:56px; }
#playpage .toolbar .spacer { flex: 1; }
#playpage .toolbar .icon { font-size: 40px; cursor: pointer; background: none; border: none; width:48px; height: 48px; margin: 4px; }
#playpage .toolbar .icon.clear { background-image:url(../icons/clear.png);}

#playpage .colorbar { display: flex; min-height:56px; user-select: none; overflow-x: auto; }
#playpage .colorbar label {
    display: block;
    width: 48px;
    min-width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 4px;
    text-align: center;
    line-height: 48px;
    font-size: 32px;
    border-radius: 24px;
    text-shadow: 0px 0px 3px white;
}
#playpage .colorbar label input { display: none; position: relative; }
#playpage .colorbar label input:checked + span {
    display: block;
    width: 44px;
    height: 44px;
    box-shadow: inset 0 0 2px 3px #eee;
    border-radius: 24px;
    margin: 2px;
    line-height: 44px;
}

#playpage .colorbar label.complete {
    background-image: url(../icons/checkmark.png) !important;
    background-position: center;
    background-repeat: no-repeat;
}
#playpage .colorbar label.complete span {
    color: transparent;
    text-shadow: none;
}

#playpage .content > .complete {
    position: absolute;
    top: 10px; right: 10px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background: center no-repeat url(../icons/checkmark.png) #00cc00;
}

#playpage .content > .complete.invisible {
    display: none;
}

#playpage .content > .colorcounter {
    position: absolute;
    left: 10px;
    bottom: 118px;
    background-color: #00000088;
    color: white;
    font-cize: 18px;
    padding: 2px 6px 2px 3px;
    border-radius: 13px;
    display: flex;
}

#playpage .content > .colorcounter .color {
    background-color: green;
    border-radius: 12px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    box-shadow: 0 0 2px 1px white;
}

/***** Editierseite *****/

#editpage .content { display: flex; position: relative; flex-direction: column; background-color: white; }
#editpage .canvas { flex: 1; }

#editpage .toolbar { display: flex; height:56px; }
#editpage .toolbar .spacer { flex: 1; }
#editpage .toolbar .icon { display: flex; font-size: 40px; cursor: pointer; background: none; border: none; width:48px; height: 48px; margin: 4px; }
#editpage .toolbar .icon input { display: none; }
#editpage .toolbar .icon span { flex: 1; }
#editpage .toolbar .icon input:checked + span { outline: 3px solid #66f; background-color: #66f6; }
#editpage .toolbar .icon.save { background-image:url(../icons/save.png);}
#editpage .toolbar .icon.playmode span { background-image:url(../icons/playmode.png);}
#editpage .toolbar .icon.paintmode span { background-image:url(../icons/paintmode.png);}
#editpage .toolbar .icon.addmode span { background-image:url(../icons/addmode.png);}
#editpage .toolbar .icon.removemode span { background-image:url(../icons/removemode.png);}
#editpage .toolbar .icon.publish { background-image:url(../icons/publish.png);}
#editpage .toolbar .icon.duplicate { background-image:url(../icons/duplicate.png);}
#editpage .toolbar .icon.deleteModel { background-image:url(../icons/deleteModel.png);}
#editpage .toolbar .icon.changecolor { background-image:url(../icons/changecolor.png);}

#editpage .colorbar { display: flex; min-height:56px; user-select: none; overflow-x: auto; }
#editpage .colorbar label {
    display: block;
    width: 48px;
    min-width: 48px;
    height: 48px;
    cursor: pointer;
    margin: 4px;
    text-align: center;
    line-height: 48px;
    font-size: 32px;
    border-radius: 24px;
    text-shadow: 0px 0px 3px white;
}
#editpage .colorbar label input { display: none; position: relative; }
#editpage .colorbar label input:checked + span {
    display: block;
    width: 44px;
    height: 44px;
    box-shadow: inset 0 0 2px 3px #eee;
    border-radius: 24px;
    margin: 2px;
    line-height: 44px;
}
