* { margin:0; padding: 0; font-family: Roboto, Helvetica, Arial, sans-serif; box-sizing: border-box; }
html, body { width: 100%; height: 100%; overflow: hidden; }
button, .grid > li { cursor: pointer; }
button:focus { outline: 0; }

body { position: relative; }

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    transition: left .2s;
}

.page.invisible {
    left: 100%;
}

/* https://www.material.io/components/app-bars-top/#specs */
.page > .header {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    background-color: #a37f81;
}

.page > .header > button {
    width: 48px;
    height: 48px;
    background: transparent center no-repeat;
    border: none;
}

.page > .header > .back {
    margin-right: 32px;
    background-image: url(../icons/back.png);
}

.page > .header > .title {
    flex: 1;
    font-size: 20px;
    color: black;
}

.page > .content {
    flex: 1;
    overflow: auto;
    background-color: #d5aeb0;
}

.progressbar {
    height: 4px;
    position: relative;
    background-color: #a37f8199;
}

.progressbar.invisible {
    display: none;
}

.progressbar::after {
    content: "";
    position: absolute;
    width: 112px;
    height: 4px;
    left: 0;
    top: 0;
    animation: progressbar 2s linear infinite;
    background-color: #a37f81ff;
}

.progressspinner {
    position: relative;
}

.progressspinner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 0px 999px #FFFFFFEE;
    z-index: 1;
}

.progressspinner::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    left: 50%;
    border: 4px solid;
    border-radius: 30px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: progressspinner 1.2s linear infinite;
    z-index: 2;
    border-color: #a37f81 transparent;
}

.grid {
    padding: 8px;
    text-align: center;
}

.grid > li {
    margin: 16px;
    display: inline-block;
    list-style-type: none;
    width: 272px;
    height: 272px;
    border-radius: 4px;
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background-color: white;
}

@keyframes progressbar {
    0% { left: -112px; width: 112px; }
    50% { width: 224px; }
    100% { left: 100%; width: 112px; }
}

@keyframes progressspinner {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

#listpage .grid > li { position: relative; }
#listpage .grid > li > span.new {display: none;position: absolute;top: 0;right: 0;color: #fff;background-color: #0be;padding: 4px;border-radius: 0 4px;text-transform: uppercase;font-weight: bold;font-size: 18px;}
#listpage .grid > li > span.complete {display: none;position: absolute;top: 0;left: 0;color: #fff;background-color: #0c0;padding: 4px 12px;border-radius: 4px 0;text-transform: uppercase;font-weight: bold;font-size: 18px;}
#listpage .grid > li > img.complete~span.complete {display: block; }
#listpage .grid > li > img.new { filter:grayscale(100%); }
#listpage .grid > li > img.new~span.new {display: block; }

#playpage .content { display: flex; position: relative; flex-direction: column; background-color: white; }
#playpage .canvas { flex: 1; }

#playpage .toolbar { display: flex; }
#playpage .toolbar .spacer { flex: 1; }
#playpage .toolbar .icon { font-size: 40px; cursor: pointer; background: none; border: none; width:48px; height: 48px; margin: 4px; }
#playpage .toolbar .icon.clear { background-image:url(../icons/clear.png);}